


body{
    .header{
        &--tittle{
            width: 2em;
            height: 2em;
            background-color: aquamarine;
            margin-top: 2em;

        }
        &--menu{
            width: 2em;
            height: 2em;
            background-color: aquamarine;
            margin-top: 2em;

        }

    }
    .main{
        &--frontPage{
            width: 2em;
            height: 2em;
            background-color: aquamarine;
            margin-top: 2em;

        }
        &--features{
            width: 2em;
            height: 2em;
            background-color: aquamarine;
            margin-top: 2em;

        }
        &--examples{
            width: 2em;
            height: 2em;
            background-color: aquamarine;
            margin-top: 2em;

        }
        &--gallery{
            width: 2em;
            height: 2em;
            background-color: aquamarine;
            margin-top: 2em;

        }
        &--contact{
            width: 2em;
            height: 2em;
            background-color: aquamarine;
            margin-top: 2em;

        }

    }
    .footer{
        &--socialMedia{
            width: 2em;
            height: 2em;
            background-color: aquamarine;
            margin-top: 2em;
        }
        &--moreInformation{
            width: 2em;
            height: 2em;
            background-color: rgb(180, 199, 193);
            margin-top: 2em;
        }

    }
}